.add{
  background-color: #fff;
  &__wrapper{
    display: block;
    position: relative;
    float: left;
    width: 100%;
   /* margin-top: 20px;*/
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f6f5f5;
  }
  &__form{
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    position: relative;
    float: left;
    width: 60%;
    padding: 30px 42px;
    @include box-sizing(border-box);
    > .single__resp-form--submit{
      float: left;
      margin-left: calc(50% - (194px/2));
      margin-top: 20px;
    }
    &--element{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      > label{
        display: block;
        position: relative;
        float: left;
        width: 165px;
        height: 30px;
        text-align: left;
        margin: 0;
        color: #000;
        font-family: $RobotoRegular;
        font-size: 14px;
        line-height: 30px;
      }
      > .notification{
        position: absolute;
        top: 5px;
        left: 102%;
        cursor: pointer;
        &:hover{
          > p{
            display: block;
          }
        }
        > p{
          display: none;
          width: 260px;
        }
      }
      > .file-input{
        display: block;
        position: relative;
        float: left;
        width: calc(100% - 165px);
        /*height: 30px;*/
        margin-bottom: 40px;
       /* border: 1px solid #b8b8b9;
        border-radius: 0;*/
         .form-control{
          border: 1px solid #b8b8b9;
          border-radius: 0;
           &:focus{
             border: 1px solid #2196f3;
             -webkit-box-shadow: 0 0 4px rgba(32,150,243,.47), inset 0 1px 3px rgba(0,0,0,.17);
             box-shadow: 0 0 4px rgba(32,150,243,.47), inset 0 1px 3px rgba(0,0,0,.17);
           }
        }
      }
      .file-preview-frame {
        position: relative;
        display: block;
        margin: 0;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 30%;
        height: 160px;
        border: 1px solid #ddd;
        box-shadow: 1px 1px 5px 0 #a2958a;
        padding: 6px;
        @include box-sizing(border-box);
        float: left;
        text-align: center;
        vertical-align: middle;
      }
      .kv-file-content{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        height: 80px;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .file-footer-caption {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        text-align: center;
        padding-top: 4px;
        font-size: 11px;
        color: #777;
        margin: 5px auto;
      }
    }
    &--field{
      display: block;
      position: relative;
      float: left;
      width: calc(100% - 165px);
      height: 30px;
      margin-bottom: 40px;
      border: 1px solid #b8b8b9;
      padding: 1px 10px;
      @include box-sizing(border-box);
      &:focus{
        border: 1px solid #2196f3;
        -webkit-box-shadow: 0 0 4px rgba(32,150,243,.47), inset 0 1px 3px rgba(0,0,0,.17);
        box-shadow: 0 0 4px rgba(32,150,243,.47), inset 0 1px 3px rgba(0,0,0,.17);
      }
    }
    &--text{
      display: block;
      position: relative;
      float: left;
      width: calc(100% - 165px);
      height: 96px;
      margin-bottom: 40px;
      resize: none;
      border: 1px solid #b8b8b9;
      padding: 1px 10px;
      @include box-sizing(border-box);
      color: #000;
      font-family: $RobotoRegular;
      font-size: 14px;
      &:focus{
        border: 1px solid #2196f3;
        -webkit-box-shadow: 0 0 4px rgba(32,150,243,.47), inset 0 1px 3px rgba(0,0,0,.17);
        box-shadow: 0 0 4px rgba(32,150,243,.47), inset 0 1px 3px rgba(0,0,0,.17);
      }
    }
    &--photo{
      display: block;
      position: relative;
      float: left;
      width: 43px;
      height: 39px;
      margin-bottom: 40px;
      margin-right: 100px;
      cursor: pointer;
      > span{
        display: block;
        position: relative;
        float: left;
        height: 30px;
        width: 40px;
        @include box-sizing(border-box);
        text-align: center;
        color: #fff;
        left: 0;
        font-size: 17px;
        background-image: url('../img/icons/icon_camera.png');
        background-repeat: no-repeat;
      }
      > input[type=file] {
        display: none;
      }
    }
    &--tariff{
      display: block;
      position: relative;
      float: left;
      margin-top: 0;
      margin-bottom: 0;
      color: #80ca24;
      font-family: $RobotoBold;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 30px;
    }
    &--tariff-period{
      display: block;
      position: relative;
      float: left;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 20px;
      margin-right: 20px;
      color: #4c5b69;
      font-size: 11px;
      font-family: $RobotoRegular;
      line-height: 30px;
    }
    &--tariff-edit{
      display: block;
      position: relative;
      float: left;
      line-height: 30px;
      color: #80ca24;
      font-family: $RobotoBold;
      font-size: 11px;
      text-transform: uppercase;
      &:hover{
        color: #33aafe;
      }
    }
    &--check{
      display: block;
      position: relative;
      float: left;
      margin-top: 30px;
      > input[type=checkbox]{
        float: left;
        margin-right: 10px;
      }
      > a{
        display: block;
        position: relative;
        float: left;
        color: #33aafe;
        font-family: $RobotoRegular;
        font-size: 14px;
        text-decoration: underline;
      }
    }
  }
}