.cabinet{
  background-color: #fff;
  &__navigation{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background-color: #334A50;
    &--link{
      display: block;
      position: relative;
      float: left;
      padding: 10px 30px;
      @include box-sizing(border-box);
      color: #FFFFFF;
      font-family: $RobotoBold;
      font-size: 14px;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      &:hover, &:focus{
        color: #33aafe;
        border-bottom: 2px solid #33aafe;
      }
    }
    &--link.active{
      color: #33aafe;
      border-bottom: 2px solid #33aafe;
    }
  }
  &__wrapper{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 150px;
    .add__form{
      margin-top: 10px;
    }
  }
  &__empty{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    @include box-sizing(border-box);
    > p{
      display: block;
      position: relative;
      float: left;
      margin: 0;
      margin-right: 20px;
      color: #000;
      font-size: 14px;
      font-family: $RobotoMedium;
      line-height: 42px;
    }
    > .single__item--tool{
      width: 250px;
    }
  }
  &__sender{
    display: block;
    position: relative;
    float: left;
    width: 249px;
    padding-top: 40px;
    @include box-sizing(border-box);
    &--item{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      padding-top: 6px;
      padding-bottom: 6px;
      @include box-sizing(border-box);
      &:hover{
        background-color: #e0e0e0;
        &:after{
          display: block;
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          top: 13px;
          right: 0;
          border-top: 10px solid transparent;
          border-right: 10px solid #33aafe;
          border-bottom: 10px solid transparent;
        }
      }
    }
    &--item.active{
      background-color: #e0e0e0;
      &:after{
        display: block;
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: 13px;
        right: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid #33aafe;
        border-bottom: 10px solid transparent;
      }
    }
    &--avatar{
      display: block;
      position: relative;
      float: left;
      size: 35px;
      margin-left: 40px;
      overflow: hidden;
      border-radius: 50%;
      background-color: #f2e2e5;
      img{
        size: 100%;
        object-fit: cover;
      }
      span{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        color: #0f1111;
        font-size: 23px;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &--name{
      display: block;
      display: -webkit-box;
      position: relative;
      float: left;
      width: 133px;
      height: calc(18px * 1.5 * 1);
      margin-top: 5px;
      margin-left: 10px;
      color: #33aafe;
      font-family: $RobotoMedium;
      font-size: 18px;
      line-height: 1.5;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--messanges{
      display: block;
      position: relative;
      float: left;
      width: 20px;
      height: 20px;
      margin-top: 7px;
      margin-right: 10px;
      background: linear-gradient(#33aafe,#334a51);
      border-radius: 50%;
      text-align: center;
      color: #ffffff;
      font-family: $RobotoMedium;
      font-size: 13px;
      line-height: 20px;
    }
  }
  &__messages{
    display: block;
    position: relative;
    float: left;
    width: calc(100% - 249px);
    border-left: 1px solid #dedede;
    padding-top: 40px;
    padding-bottom: 40px;
    @include box-sizing(border-box);
    &--box{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: auto;
      padding-right: 32px;
      padding-left: 32px;
      padding-bottom: 0;
      @include box-sizing(border-box);
    }
    &--wrapper{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 450px;
      overflow-y: scroll;
    }
    &--question{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-right: 0;
      margin-top: 10px;
      margin-bottom: 30px;
      padding-right: 15%;
      @include box-sizing(border-box);
      p {
        display: block;
        position: relative;
        float: left;
        margin: 0;
        width: calc(100% - (89px + 14px));
        background-color: #4ea7c5;
        padding: 11px;
        @include box-sizing(border-box);
        border-radius: 7px;
        color: white;
        font-family: $RobotoRegular;
        font-size: 14px;
        &:after {
          display: block;
          position: absolute;
          content: '';
          top: 8px;
          left: -10px;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-right: 10px solid #4ea7c5;
          border-bottom: 5px solid transparent;
        }
      }
      a {
        display: block;
        position: relative;
        float: left;
        width: 44px;
        height: 44px;
        margin-right: 14px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #4a43a8;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &--date{
      display: block;
      position: absolute;
      width: 100%;
      bottom: -16px;
      left: 0;
      text-align: left;
      color: #838389;
      font-family: $RobotoLight;
      font-size: 10px;
    }
    &--answer{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-right: 0;
      margin-top: 10px;
      margin-bottom: 30px;
      padding-left: 15%;
      @include box-sizing(border-box);
      p {
        display: block;
        position: relative;
        float: left;
        margin: 0;
        width: calc(100% - (89px + 14px));
        background-color: rgba(51, 74, 81, 0.7);
        padding: 11px;
        @include box-sizing(border-box);
        border-radius: 7px;
        color: white;
        font-family: $RobotoRegular;
        font-size: 14px;
        &:after {
          display: block;
          position: absolute;
          content: '';
          top: 8px;
          right: -10px;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-left: 10px solid rgba(51, 74, 81, 0.7);
          border-bottom: 5px solid transparent;
        }
        .cabinet__messages--date{
          text-align: right;
        }
      }
      a {
        display: block;
        position: relative;
        float: left;
        width: 44px;
        height: 44px;
        margin-left: 14px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #4a43a8;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &--form{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      background-color: #fbfbfb;
      padding: 16px;
      @include box-sizing(border-box);
      textarea {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        height: 95px;
        background-color: white;
        border: 1px solid #dedede;
        border-radius: 15px;
        resize: none;
        padding: 10px;
        @include box-sizing(border-box);
        &:focus {
          outline: none;
        }
      }
    }
    &--notice{
      display: block;
      position: relative;
      float: left;
      width: 128px;
      margin-top: 26px;
      margin-left: calc(100% - (128px + 149px + 20px + 10px));
      margin-right: 10px;
      color: #334a51;
      font-family: $RobotoBold;
      font-size: 14px;
      line-height: 28px;
    }
    &--submit{
      display: block;
      position: relative;
      float: right;
      width: 149px;
      height: 28px;
      margin-top: 26px;
      margin-right: 20px;
      background-color: #334a51;
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 20px;
      color: #fff;
      font-family: $RobotoBold;
      font-size: 13px;
      text-align: center;
      &:focus {
        outline: none;
      }
      &:hover {
        background: linear-gradient(#626f7b, #334a51);
      }
    }
  }
  &__packages {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(center);
    position: relative;
    float: left;
    width: 100%;
    padding: 10px 0;
    @include box-sizing(border-box);
    &--title {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      color: #060400;
      font-size: 14px;
      font-weight: 700;
    }
    &--item {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(column);
      @include align-items(center);
      position: relative;
      float: left;
      width: 30%;
      height: 281px;
      margin-bottom: 52px;
      border: 1px solid #e8e9ed;
      /*border-radius: 5px 0 0 5px;*/
      p:first-of-type {
        margin-top: 51px;
        color: #9fa3a7;
        font-size: 7px;
        font-weight: 400;
        text-transform: uppercase;
      }
      h3 {
        margin-top: 20px;
        margin-bottom: 35px;
        color: #060400;
        font-size: 19px;
        font-weight: 700;
        line-height: 23px;
        text-align: center;
        padding: 0;
      }
      p:nth-of-type(2) {
        text-align: center;
        color: #0c242e;
        font-size: 9px;
        font-weight: 600;
        line-height: 14px;
        margin: 0;
        a {
          color: #0c242e;
          text-decoration: underline;
        }
      }
    }
    &--item.top {
      background-color: #80ca24;
      p:first-of-type {
        margin-top: 51px;
        color: #060400;
        font-size: 7px;
        font-weight: 400;
        text-transform: uppercase;
      }
      h3 {
        margin-top: 20px;
        margin-bottom: 35px;
        color: #060400;
        font-size: 19px;
        font-weight: 700;
        line-height: 23px;
        text-align: center;
        padding: 0;
      }
      p:nth-of-type(2) {
        text-align: center;
        color: #0c242e;
        font-size: 9px;
        font-weight: 600;
        line-height: 14px;
        margin: 0;
        a {
          color: #0c242e;
          text-decoration: underline;
        }
      }
    }
   /* &--item:hover {
      border: 1px solid #ee2e24;
      background-color: #ee2e24;
      p:first-of-type {
        color: #0c242e;
      }
      h3 {
        color: #fbfbfb;
      }
      p:nth-of-type(2) {
        color: #fbfbfb;
        a {
          color: #fbfbfb;
        }
      }
      .cabinet__packages--buy {
        color: #FFFFFF;
        border: 3px solid white;
      }
    }*/
  }
}