.cabinet{
  background-color: #fff;
  &__navigation{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background-color: #334A50;
    &--link{
      display: block;
      position: relative;
      float: left;
      padding: 10px 30px;
      @include box-sizing(border-box);
      color: #FFFFFF;
      font-family: $RobotoBold;
      font-size: 14px;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      &:hover, &:focus{
        color: #33aafe;
        border-bottom: 2px solid #33aafe;
      }
    }
    &--link.active{
      color: #33aafe;
      border-bottom: 2px solid #33aafe;
    }
  }
  &__wrapper{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 150px;
  }
  &__empty{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    @include box-sizing(border-box);
    > p{
      display: block;
      position: relative;
      float: left;
      margin: 0;
      margin-right: 20px;
      color: #000;
      font-size: 14px;
      font-family: $RobotoMedium;
      line-height: 42px;
    }
    > .single__item--tool{
      width: 250px;
    }
  }
  &__sender{
    display: block;
    position: relative;
    float: left;
    width: 249px;
    padding-top: 40px;
    @include box-sizing(border-box);
    &--item{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      padding-top: 6px;
      padding-bottom: 6px;
      @include box-sizing(border-box);
      &:hover{
        background-color: #e0e0e0;
      }
    }
    &--item.active{
      background-color: #e0e0e0;
      &:after{
        display: block;
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: 13px;
        right: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid #33aafe;
        border-bottom: 10px solid transparent;
      }
    }
    &--avatar{
      display: block;
      position: relative;
      float: left;
      size: 35px;
      margin-left: 40px;
      overflow: hidden;
      border-radius: 50%;
      background-color: #f2e2e5;
      img{
        size: 100%;
        object-fit: cover;
      }
      span{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        color: #0f1111;
        font-size: 23px;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &--name{
      display: block;
      display: -webkit-box;
      position: relative;
      float: left;
      width: 133px;
      height: calc(18px * 1.5 * 1);
      margin-top: 5px;
      margin-left: 10px;
      color: #33aafe;
      font-family: $RobotoMedium;
      font-size: 18px;
      line-height: 1.5;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__messages{
    display: block;
    position: relative;
    float: left;
    width: calc(100% - 248px);
    border-left: 1px solid #dedede;
  }
}