.main-banner {
  background-image: url('../img/top-banner-bg.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: #000000;
  &__title {
    display: block;
    position: relative;
    float: left;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    color: #ffffff;
    font-family: $RobotoBold;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 65px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    @include box-sizing(border-box);
    background-color: rgba(1, 1, 1, 0.2);
    border-radius: 5px;
    @include breakpoint(max-width 670px){
      width: 100%;
      font-size: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 0;
    }
  }
  &__item {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include align-items(center);
    position: relative;
    float: left;
    width: 340px;
    height: 335px;
    border: 5px solid white;
    margin-left: calc(340px / 2);
    margin-right: 0;
    margin-bottom: 62px;
    @include breakpoint(max-width 670px){
      width: 280px;
      margin-left: calc(50% - (280px / 2));
    }
    &:nth-of-type(2) {
      float: right;
      margin-left: 0;
      margin-right: calc(340px / 2);
      @include breakpoint(max-width 670px){
        width: 280px;
        margin-right: calc(50% - (280px / 2));
      }
    }
    p {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin: 0;
      text-align: center;
      color: white;
      font-family: $RobotoRegular;
      font-size: 24px;
      &:first-of-type {
        margin-bottom: 43px;
      }
      &:nth-of-type(2), &:nth-of-type(3) {
        padding-bottom: 10px;
        @include box-sizing(border-box);
      }
    }
  }
  &__link {
    display: block;
    position: relative;
    float: left;
    width: 228px;
    height: 30px;
    margin-top: 40px;
    margin-left: 0;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, .16);
    background-color: #33aafe;
    text-align: center;
    color: #fff;
    font-family: $RobotoRegular;
    font-size: 14px;
    line-height: 28px;
    &:hover{
      color: #fff;
      background: -webkit-gradient(linear,left top,left bottom,from(#33aafe),to(#334a51));
      background: -webkit-linear-gradient(#33aafe,#334a51);
      background: linear-gradient(#33aafe,#334a51);
    }
  }
}