.single{
  background-color: #fff;
  &__item{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 0;
    background-color: #f6f5f5;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    @include box-sizing(border-box);
    @include breakpoint(max-width 600px){
      margin-top: 0;
    }
    h3{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 15px;
      text-align: center;
      color: black;
      font-family: $RobotoMedium;
      font-size: 18px;
      @include breakpoint(max-width 600px){
        text-align: left;
      }
    }
    &--descr{
      display: block;
      position: relative;
      float: left;
      width: 450px;
      @include breakpoint(max-width 1024px){
        width: calc(100% - (128px + 290px));
      }
      @include breakpoint(max-width 670px){
        width: 100%;
      }
      h3{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        text-align: left;
        color: #202020;
        font-family: $RobotoLight;
        font-size: 18px;
      }
      p{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin: 10px 0;
        background-color: white;
        border-radius: 5px;
        border: 1px solid #e0dfde;
        box-shadow: 0 0 0 rgba(168, 168, 165, 0.28);
        color: #575656;
        font-family: $RobotoLight;
        font-size: 14px;
        font-weight: 300;
        padding: 5px;
        @include box-sizing(border-box);
      }
    }
    &--box{
      display: block;
      position: relative;
      float: left;
      width: 100%;
    }
    &--subtitle{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 15px;
      padding-left: 6px;
      @include box-sizing(border-box);
      color: #277dff;
      font-family: $RobotoLight;
      font-size: 14px;
    }
    &--element{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      color: #848484;
      font-family: $RobotoLight;
      font-size: 16px;
      span{
        color: black;
        margin-left: 20px;
      }
      &:last-of-type{
        font-family: $RobotoBold;
      }
    }
    &--date{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      color: #202020;
      font-family: $RobotoLight;
      font-size: 14px;
    }
    &--more{
      display: block;
      position: relative;
      float: left;
      margin-top: 14px;
      margin-bottom: 14px;
      padding-left: 30px;
      @include box-sizing(border-box);
      text-decoration: underline;
      color: #277dff;
      font-family: $RobotoLight;
      font-size: 12px;
      &:hover {
        color: #33aafe;
        text-decoration: none;
      }
      &:before{
        display: block;
        position: absolute;
        content: '';
        top: -3px;
        left: 0;
        width: 16px;
        height: 21px;
        background-image: url('../img/icons/map-marker-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
    &--map{
      display: none;
      position: relative;
      float: left;
      width: 100%;
      height: 336px;
      margin-bottom: 50px;
      #map{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    }
    &--statuses{
      display: block;
      position: relative;
      float: left;
      width: 290px;
      padding-left: 64px;
      padding-right: 30px;
      @include box-sizing(border-box);
      @include breakpoint(max-width 670px){
        width: 100%;
        padding: 0;
      }
    }
    &--response{
      display: block;
      position: relative;
      float: left;
      width: calc(100% - (128px + 450px + 290px));
      padding: 0;
      @include breakpoint(max-width 1024px){
        width: 290px;
        padding-left: 64px;
        padding-right: 30px;
      }
      @include breakpoint(max-width 600px){
        width: 100%;
        padding: 0;
      }
    }
    &--offer-price{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      font-family: $RobotoLight;
      color: #565656;
      font-size: 18px;
      span{
        color: black;
        font-family: $RobotoBold;
        font-size: 20px;
      }
    }
    &--tool{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      border-radius: 20px;
      border: 2px solid #80ca24;
      font-family: $RobotoMedium;
      color: #80ca24;
      text-align: center;
      margin: 5px 0;
      padding: 5px 0;
      @include box-sizing(border-box);
      &:hover{
        border: 2px solid #33aafe;
        color: #33aafe;
      }
    }
    &--vip-tool{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      border-radius: 20px;
      border: 2px solid #eba600;
      font-family: $RobotoMedium;
      color: #eba600;
      text-align: center;
      margin: 5px 0;
      padding: 5px 0;
      @include box-sizing(border-box);
      &:hover{
        border: 2px solid #33aafe;
        color: #33aafe;
      }
    }
    &--err-tool{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      border-radius: 20px;
      border: 2px solid #e91818;
      font-family: $RobotoMedium;
      color: #e91818;
      text-align: center;
      margin: 5px 0;
      padding: 5px 0;
      @include box-sizing(border-box);
      &:hover{
        border: 2px solid #e91818;
        color: #e91818;
      }
    }
  }
  &__icon{
    display: block;
    position: relative;
    float: left;
    width: 128px;
    text-align: center;
    @include breakpoint(max-width 600px){
      display: none;
    }
  }
  &__responses{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    h3{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      color: white;
      font-family: $RobotoLight;
      font-size: 14px;
      font-weight: 300;
      margin-top: 25px;
      margin-bottom: 10px;
      padding: 10px 0;
      @include box-sizing(border-box);
      background-color: #33aafe;
    }
    &--item{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin: 18px 0;
      background-color: #f6f5f5;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
      @include box-sizing(border-box);
    }
    &--avatar{
      display: block;
      position: relative;
      float: left;
      width: 130px;
      @include breakpoint(max-width 600px){
        width: 100%;
      }
      p{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin-top: 10px;
        text-align: center;
        color: #33aafe;
        font-family: $RobotoLight;
        font-size: 14px;
        text-decoration: underline;
      }
    }
    &--img{
      display: block;
      position: relative;
      float: left;
      width: 66px;
      height: 66px;
      border-radius: 50%;
      overflow: hidden;
      margin-left: calc(50% - (66px/2));
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--descr{
      display: block;
      position: relative;
      float: left;
      width: calc(100% - (130px + 290px));
      @include breakpoint(max-width 600px){
        width: 100%;
      }
      p{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin: 10px 0;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #e0dfde;
        box-shadow: 0 0 0 hsla(60,2%,65%,.28);
        color: #575656;
        font-size: 14px;
        font-weight: 300;
        padding: 5px;
        @include box-sizing(border-box);
      }
    }
  }
}