.footer {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #334a50;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.45) inset;
  &__navigation {
    display: block;
    position: relative;
    float: left;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 75px;
    @include breakpoint(max-width 670px){
      width: 100%;
      margin-bottom: 30px;
    }
  }
  &__nav {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include justify-content(flex-start);
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    column-count: 2;
    @include breakpoint(max-width 670px) {
      column-count: 1;
    }
    > li {
      flex: 1 0 0;
      @include breakpoint(max-width 670px) {
        text-align: center;
      }
      a {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding-bottom: 5px;
        margin-bottom: 15px;
        @include box-sizing(border-box);
        color: white;
        font-family: $RobotoRegular;
        font-size: 18px;
        &:hover {
          color: #33aafe;
        }
      }
    }
  }
  &__notice {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 70px;
    &:before {
      display: block;
      position: absolute;
      content: '';
      top: -20px;
      left: calc(50% - (638px / 2));
      width: 638px;
      height: 1px;
      background-color: #31343b;
      @include breakpoint(max-width 670px) {
        width: 200px;
        left: calc(50% - (200px / 2));
      }
    }
    p {
      text-align: center;
      margin-bottom: 0;
      color: white;
      font-family: $RobotoRegular;
      font-size: 14px;
    }
  }
}